* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__headerImage {
  height: 40px;
  width: 120px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__auth {
  float: right;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postsRight {
  margin-left: 20px;
}
